<main>
    <div class="container">
        <h1 style="color:blue;">Category - <th:block th:text="${category.name}"></th:block></h1>
        <div class="row">
            <th:block th:each="product : ${products}">
                <div class="col-md-4">
                    <div class="thumbnail bck">

                        <a  th:href="@{/product/{id}(id=${product.id})}" >
                            <img
                                  th:src="@{${product.imagePath}}" class=" img-responsive thumb  img-thumbnail" />
                        </a>

                        <div class="caption">

                        <header>
                            <h2 th:text="${product.name}"></h2>
                        </header>
                        <p th:text="${product.price}"></p>
                        <footer>
                            <p align="center">
                                <a  class="btn btn-primary btn-block"
                                   th:href="@{/product/{id}(id=${product.id})}">Read more &raquo;</a>
                            </p>
                        </footer>

                        </div>
                    </div>
               </div>
            </th:block>
        </div>
    </div>

</main>
