<main>
    <div class="container">
        <div class="row">

            <div class="col-md-6" th:each="category : ${categories}">
                <div class="thumbnail">
                    <h2>
                       <p align="center">
                           <a  th:href="@{/category/{id}(id=${category.id})}" > <img  width="200" height="200"
                                           th:src="@{${category.imagePath}}" class="img-polaroid" />
                           </a>
                       </p>
                        <p align="center">
                        <a  th:href="@{/category/{id}(id=${category.id})}" th:text="${category.name + ' (' + #sets.size(category.products) + ')'}">
                        </a>
                        </p>
                    </h2>
                </div>
            </div>

        </div>
    </div>
</main>
