<main>
    <div class="container">
        <div class="row">

            <div class="col-md-6" th:each="category : ${categories}">
                <div class="thumbnail bckshop">
                    <h2>
                       <p align="center">
                           <a  th:href="@{/category/{id}(id=${category.id})}" >
                               <img th:src="@{${category.imagePath}}" class=" img-responsive thumb  img-thumbnail" />
                           </a>
                       </p>
                        <p align="center">
                        <a  th:href="@{/category/{id}(id=${category.id})}" th:text="${category.name + ' (' + #sets.size(category.products) + ')'}">
                        </a>
                        </p>
                    </h2>
                </div>
            </div>

        </div>
    </div>
</main>
