<main>
    <div class="container body-content">
        <div class="row">
            <div class="col-md-4">
                <img  width="500" height="500"
                      th:src="@{${product.imagePath}}" class=" img-responsive thumb  img-thumbnail"/>
            </div>
            <div class="col-md-8">
                <article>
                    <header>
                        <h2 th:text="${product.name}"></h2>
                    </header>

                    <p th:text="${product.price}"> </p>

                    <p th:text="${product.description}"> </p>


                    <footer>

                        <div class="pull-right">


                            <th:block sec:authorize="isAuthenticated()" th:if="${user.isAdmin()}">
                            <a class="btn btn-success btn-xs" th:href="@{/product/edit/{id}(id = ${product.id})}">Edit</a>
                            <a class="btn btn-danger btn-xs" th:href="@{/product/delete/{id}(id = ${product.id})}">Delete</a>
                            </th:block>

                            <a class="button-read" th:href="@{/category/{id}(id=${category.id})}"> <b>Back &raquo;</b></a>
                        </div>
                    </footer>
                </article>
            </div>
        </div>
    </div>
</main>
