<main>
    <th:block th:each="article : ${articles}">
      <div class="container ">
        <div class="row">

                <div class="col-md-12 blogShort">
                    <article >
                        <a  th:href="@{/article/{id}(id=${article.id})}">
                        <img  width="200" height="200"
                              th:src="@{${article.imagePath}}" class="pull-left img-responsive thumb margin10 img-thumbnail"/>
                        </a>
                        <header>
                            <h2 th:text="${article.title}"></h2>
                        </header>

                        <p th:text="${article.summary}"></p>

                        <b>by </b>
                        <span style="color: green"> <b class="author" th:text="${article.author.fullName}"></b></span>

                        <div class="pull-right">
                            <a class="button-read"
                               th:href="@{/article/{id}(id=${article.id})}">
                                <b>Read more &raquo;</b>
                            </a>
                        </div>
                    </article>

                </div>


        </div>
      </div>
    </th:block>
</main>
